html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: pink;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.title-text {
  margin: 0;
  margin-left: 8px;
  line-height: 25px;
  color: #626262;
  display: inline;
  font-size: 11px;
  font-weight: 500;
}

#sidebar {
  width: 200px;
  min-width: 178px;
  height: 100%;
  border-right: 1px #B7B8BA solid;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

#splitter {
  position: relative;
  display: inline-block;
  z-index: 99;
  margin-left: -5px;
  height: 100%;
  width: 4px;
  cursor: col-resize;
}

#title, #tools  {
  height: 26px;
  width: 100%;
  background-color: #f0f3f6;
  border-bottom: 1px solid #B7B8BA;
  overflow: hidden;
}
#tools  {
  height: 32px;
  padding-left: 5px;
}

div.note {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  margin: 0;
  background: #fff;
  padding: 5px;
}

#close {
  width: 16px;
  height: 16px;
  background-image: url('../img/close@2x.png');
  background-repeat: no-repeat;
  background-size: 64px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}

#close:hover {
  background-position: -19px 0;
}

.icon {
  width: 13px;
  height: 13px;
  background-image: url('../img/format-buttons@2x.png');
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 68px;
  margin: 10px 4px;
  opacity: .7;
}

.icon:hover {
  opacity: 1;
}

.icon:active { -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75); }

#font-size {
  background-position: -1px 0;
}

#bold {
  background-position: -7px -136px;
}

#italic {
  background-position: -7px -164px;
}

#underline {
  background-position: -4px -150px;
}

#bullets {
  background-position: -3px -95px;
}

#sync {
  background-position: -7px -195px;
}
